.product-image {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.product-image-editor {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

